_ReSharper.*
*.vsix
*.suo
*.cache
*.user
*.bak
*.orig
*.pdb
*~
.vs/
obj
bin
launchSettings.json
contrib/*
packages/*
packages-build/*
TestResults/*
.nuget/nuget.exe
!test/Testfiles/**
_site/
Artifacts/
.idea/
node_modules/
